<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/PreferredAI/tutorials/blob/master/recommender-systems/06_contextual_awareness.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/PreferredAI/tutorials/blob/master/recommender-systems/06_contextual_awareness.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

# Contextual Awareness

Traditional matrix factorization assumes that a recommendation is primarily, if not exclusively, based on the specific user and item in question. However, preference may actually be context-sensitive.  The suitable recommendation may depend on various factors such as time of day, current location, etc.  To incorporate such context factors into the model, we associate them with latent vectors that may participate in the prediction by interacting with the user and item latent vectors.  One paradigm for contextual recommendation is Factorization Machine, which is the focus of this tutorial.

## 1. Setup

In [ ]:
!git clone https://github.com/srendle/libfm.git
!make all -C libfm

In [2]:
!pip install --quiet cornac==1.6.1

In [3]:
import os
import sys
from collections import defaultdict

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

import cornac
from cornac.utils import cache

print(f"System version: {sys.version}")
print(f"Cornac version: {cornac.__version__}")

SEED = 42  # @param 
VERBOSE = False  # @param

System version: 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]
Cornac version: 1.6.1

## 2. Data

In this tutorial, we use [MovieLens + IMDb/Rotten Tomatoes](http://files.grouplens.org/datasets/hetrec2011/hetrec2011-movielens-readme.txt) dataset, which is released during the HetRec Workshop 2011.  This dataset has rich information about movies (e.g., actors, genres) in addition to ratings. More details can be found @ https://grouplens.org/datasets/hetrec-2011/.

In [ ]:
cache("http://files.grouplens.org/datasets/hetrec2011/hetrec2011-movielens-2k-v2.zip", unzip=True)

The data, after being downloaded and unzipped, includes the following files:

In [5]:
!ls /root/.cornac

movie_actors.dat     movies.dat		   user_ratedmovies-timestamps.dat
movie_countries.dat  movie_tags.dat	   user_taggedmovies.dat
movie_directors.dat  readme.txt		   user_taggedmovies-timestamps.dat
movie_genres.dat     tags.dat
movie_locations.dat  user_ratedmovies.dat

### User-Movie ratings

A user assigns a rating to a movie. There is also a timestamp recording when the rating was given.

In [6]:
user_ratedmovies_df = pd.read_csv("/root/.cornac/user_ratedmovies.dat", sep="\t")
user_ratedmovies_df.head()

   userID  movieID  rating  ...  date_hour  date_minute  date_second
0      75        3     1.0  ...         23           17           16
1      75       32     4.5  ...         23           23           44
2      75      110     4.0  ...         23           30            8
3      75      160     2.0  ...         23           16           52
4      75      163     4.0  ...         23           29           30

[5 rows x 9 columns]

### User-Movie Tags

In addition to the rating mentioned above, a user could also assign one or more tags to a movie.  Again, these are timestamped as well.

In [7]:
user_taggedmovies_df = pd.read_csv("/root/.cornac/user_taggedmovies.dat", sep="\t")
user_taggedmovies_df.head()

   userID  movieID  tagID  ...  date_hour  date_minute  date_second
0      75      353   5290  ...         23           20           15
1      78     4223   5264  ...          4           43           45
2     127     1343   1544  ...          3           42           27
3     127     1343  12330  ...          3           42           27
4     127     2080   1451  ...          3           42           47

[5 rows x 9 columns]

### Tags Info

The mapping of a tag id to its textual description is available in the dataset.

In [8]:
tag_df = pd.read_csv("/root/.cornac/tags.dat", sep="\t", encoding="iso-8859-1")
tag_df.head()

   id    value
0   1    earth
1   2   police
2   3   boxing
3   4  painter
4   5    whale

### Movie Info

The original movie information -title and year- available at MovieLens10M dataset have been extended with public data provided in IMDb and Rotten Tomatoes websites.

In [9]:
movie_df = pd.read_csv("/root/.cornac/movies.dat", sep="\t", encoding="iso-8859-1")
movie_df.head()

   id  ...                                       rtPictureURL
0   1  ...  http://content7.flixster.com/movie/10/93/63/10...
1   2  ...  http://content8.flixster.com/movie/56/79/73/56...
2   3  ...  http://content6.flixster.com/movie/25/60/25602...
3   4  ...  http://content9.flixster.com/movie/10/94/17/10...
4   5  ...  http://content8.flixster.com/movie/25/54/25542...

[5 rows x 21 columns]

### Data Statistics

In [10]:
n_users = user_ratedmovies_df.userID.nunique()
n_movies = user_ratedmovies_df.movieID.nunique()
n_tags = tag_df.id.nunique()

print("Number of users:", n_users)
print("Number of movies:", n_movies)
print("Number of ratings:", len(user_ratedmovies_df))
print("-" * 30)
print("Number of tags:", n_tags)
print("Number of tag assignments:", len(user_taggedmovies_df))
print("Number of tagged movies:", user_taggedmovies_df.movieID.nunique())

Number of users: 2113
Number of movies: 10109
Number of ratings: 855598
------------------------------
Number of tags: 13222
Number of tag assignments: 47957
Number of tagged movies: 5908

### Data Splitting

In [11]:
train_df, test_df = train_test_split(user_ratedmovies_df, test_size=0.2, random_state=SEED)
print("Training size:", len(train_df))
print("Test size:", len(test_df))

Training size: 684478
Test size: 171120

## 3. Traditional Matrix Factorization

Matrix factorization (MF) only makes use of (user, item, rating) information to train a recommendation model.  We include MF as a baseline to see if context produces an improvement.

To train MF model with the provided data, we make use of the Cornac library as follows:

In [12]:
eval_method = cornac.eval_methods.BaseMethod.from_splits(
  train_data=list(train_df.itertuples(index=False)), 
  test_data=list(test_df.itertuples(index=False)),
  exclude_unknowns=False, 
  verbose=VERBOSE,
  seed=SEED,
)

mf = cornac.models.MF(
  k=10, 
  max_iter=20, 
  learning_rate=0.01, 
  lambda_reg=0.02, 
  use_bias=True,
  verbose=VERBOSE, seed=SEED,
)

test_result, _ = eval_method.evaluate(
  model=mf, metrics=[cornac.metrics.RMSE()], user_based=False
)
print(test_result)

   |   RMSE | Train (s) | Test (s)
-- + ------ + --------- + --------
MF | 0.7576 |    0.7268 |   2.2724

## 4. Factorization Machines with Contextual Information

Factorization Machines (FM) model formulates rating prediction as a regression problem in which user, item, and additional contextual information are combined into a feature vector $\mathbf{x}_i$.  The predictor consists of global bias, first-order, and second-order interactions of the input features.  The estimation is as follow:

$$
\hat{y}(\mathbf{x}_i) = w_0 + \sum_{f=1}^{F} w_f . x_{if} + \sum_{f=1}^{F} \sum_{g=f+1}^{F} x_{if} . x_{ig} \Big( \sum_{k=1}^{K} v_{fk} . v_{gk} \Big)
$$

where $F$ is the length of feature vectors and $K$ is the dimensionality of second-order latent factors.

FM can be extended and generalized into higher-order interactions.  Given the degree of data sparsity commonly faced in recommender systems, second-order FM is usually sufficient. Higher orders would be less efficient and harder to estimate.

Without the additional features and with only user and item, second-order FM is reduced to matrix factorization.  Therefore, FM is a general framework to incorporate contextual information while maintaining the effectiveness of factorization models in recommender systems.

To learn the parameters of the FM regressor, we minimize the following regularized squared loss function:

$$
\mathcal{L}(\mathbf{w, V} | \lambda) = \frac{1}{2} \sum_{(\mathbf{x}, y) \in \mathcal{D}} (y - \hat{y}(\mathbf{x})) + \frac{\lambda}{2} || \mathbf{w} ||^2 + \frac{\lambda}{2} ||\mathbf{V}||_2^2
$$

In this tutorial, we will train FM model using the [libFM](http://www.libfm.org/) package released by the original authors [2].  In order to use the software, we need to prepare the data in a specific format expected by libFM.

As an example of contextual information, we use the user-movie tag assignments.  First, we identify a set of tags for each pair of (user, movie):

In [13]:
user_movie_tags = defaultdict(set)
for uid, mid, tid, *_ in user_taggedmovies_df.itertuples(index=False):
  user_movie_tags[(uid, mid)].add(tid)

Second, we maintain mappings from ID to index for users, movies, and tags.  These will be used to create feature vectors for the FM model.

In [14]:
user_id2idx = eval_method.global_uid_map
movie_id2idx = eval_method.global_iid_map

# create mapping for tags
tag_id2idx = defaultdict()
for tagid, _ in tag_df.itertuples(index=False):
  tag_id2idx.setdefault(tagid, len(tag_id2idx))
assert len(tag_id2idx) == n_tags

For each feature vector, most of the values will be zeros.  Thus, we will save a lot of memory by storing the data in a sparse format.  The code below will create training and test data in the sparse format used by libFM.

In [15]:
def to_fm_sparse_fmt(rating, uid, mid, tags):
  # order of features: user, movie, tags
  user_start_idx = 0
  movie_start_idx = n_users
  tag_start_idx = movie_start_idx + n_movies
  return "{} {}:1 {}:1 {}\n".format(
    rating,
    user_id2idx[uid],
    movie_id2idx[mid] + movie_start_idx, 
    " ".join("{}:1".format(tag_id2idx[t] + tag_start_idx) for t in tags)
  )

# save training data to file
with open("train.libfm", "w") as f:
  for uid, mid, rating, *_ in train_df.itertuples(index=False):
    f.write(to_fm_sparse_fmt(rating, uid, mid, user_movie_tags[(uid, mid)]))

# save test data to file
with open("test.libfm", "w") as f:
  for uid, mid, rating, *_ in test_df.itertuples(index=False):
    f.write(to_fm_sparse_fmt(rating, uid, mid, user_movie_tags[(uid, mid)]))

Let's take a look at how the data is stored in files.

In [16]:
!head train.libfm

4.5 0:1 2113:1
3.0 1:1 2114:1
4.5 2:1 2115:1
2.0 3:1 2116:1
4.0 4:1 2117:1
2.5 5:1 2118:1
2.0 6:1 2119:1
3.5 7:1 2120:1
4.0 8:1 2121:1
3.5 9:1 2122:1

In [17]:
!head test.libfm

4.0 597:1 4195:1 13921:1
3.0 404:1 5014:1
4.0 128:1 3404:1
3.0 66:1 2626:1
4.0 399:1 9555:1
3.5 1646:1 4225:1
5.0 426:1 2738:1
4.0 1057:1 6819:1
3.0 136:1 3685:1
4.0 229:1 3053:1

For details on how to use libFM, we can refer to the manual: http://www.libfm.org/libfm-1.42.manual.pdf.

Below is the list of arguments that we can input to the libFM:

In [18]:
!./libfm/bin/libFM

----------------------------------------------------------------------------
libFM
  Version: 1.4.4
  Author:  Steffen Rendle, srendle@libfm.org
  WWW:     http://www.libfm.org/
This program comes with ABSOLUTELY NO WARRANTY; for details see license.txt.
This is free software, and you are welcome to redistribute it under certain
conditions; for details see license.txt.
----------------------------------------------------------------------------
-cache_size     cache size for data storage (only applicable if data is
                in binary format), default=infty
-dim            'k0,k1,k2': k0=use bias, k1=use 1-way interactions,
                k2=dim of 2-way interactions; default=1,1,8
-help           this screen
-init_stdev     stdev for initialization of 2-way factors; default=0.1
-iter           number of iterations; default=100
-learn_rate     learn_rate for SGD; default=0.1
-load_model     filename for reading the FM model
-meta           filename for meta information about data set
-method         learning method (SGD, SGDA, ALS, MCMC); default=MCMC
-out            filename for output
-regular        'r0,r1,r2' for SGD and ALS: r0=bias regularization,
                r1=1-way regularization, r2=2-way regularization
-relation       BS: filenames for the relations, default=''
-rlog           write measurements within iterations to a file;
                default=''
-save_model     filename for writing the FM model
-seed           integer value, default=None
-task           r=regression, c=binary classification [MANDATORY]
-test           filename for test data [MANDATORY]
-train          filename for training data [MANDATORY]
-validation     filename for validation data (only for SGDA)
-verbosity      how much infos to print; default=0




To train a model on our data, we run the following command:

In [19]:
!./libfm/bin/libFM -task r -train train.libfm -test test.libfm -seed $SEED -dim "1,1,10" -iter 200

----------------------------------------------------------------------------
libFM
  Version: 1.4.4
  Author:  Steffen Rendle, srendle@libfm.org
  WWW:     http://www.libfm.org/
This program comes with ABSOLUTELY NO WARRANTY; for details see license.txt.
This is free software, and you are welcome to redistribute it under certain
conditions; for details see license.txt.
----------------------------------------------------------------------------
Loading train...
has x = 0
has xt = 1
num_rows=684478	num_values=1398326	num_features=25444	min_target=0.5	max_target=5
Loading test...
has x = 0
has xt = 1
num_rows=171120	num_values=349755	num_features=25431	min_target=0.5	max_target=5
#relations: 0
Loading meta data...
#Iter=  0	Train=0.93938	Test=0.937978
#Iter=  1	Train=0.835144	Test=0.872688
#Iter=  2	Train=0.811651	Test=0.845675
#Iter=  3	Train=0.802268	Test=0.830956
#Iter=  4	Train=0.798476	Test=0.822256
#Iter=  5	Train=0.796305	Test=0.816585
#Iter=  6	Train=0.794784	Test=0.812691
#Iter=  7	Train=0.792521	Test=0.809914
#Iter=  8	Train=0.789273	Test=0.807569
#Iter=  9	Train=0.785672	Test=0.805437
#Iter= 10	Train=0.782158	Test=0.803475
#Iter= 11	Train=0.778231	Test=0.801532
#Iter= 12	Train=0.773548	Test=0.799509
#Iter= 13	Train=0.767043	Test=0.797317
#Iter= 14	Train=0.761528	Test=0.794908
#Iter= 15	Train=0.75776	Test=0.792603
#Iter= 16	Train=0.754953	Test=0.79044
#Iter= 17	Train=0.75333	Test=0.788415
#Iter= 18	Train=0.752143	Test=0.786579
#Iter= 19	Train=0.751226	Test=0.78494
#Iter= 20	Train=0.750046	Test=0.783464
#Iter= 21	Train=0.748248	Test=0.782106
#Iter= 22	Train=0.746881	Test=0.780838
#Iter= 23	Train=0.744981	Test=0.77965
#Iter= 24	Train=0.742758	Test=0.778553
#Iter= 25	Train=0.741283	Test=0.777478
#Iter= 26	Train=0.739512	Test=0.776423
#Iter= 27	Train=0.73802	Test=0.775412
#Iter= 28	Train=0.736859	Test=0.77446
#Iter= 29	Train=0.735028	Test=0.77355
#Iter= 30	Train=0.734021	Test=0.772655
#Iter= 31	Train=0.733378	Test=0.77187
#Iter= 32	Train=0.732332	Test=0.771081
#Iter= 33	Train=0.731917	Test=0.770343
#Iter= 34	Train=0.730953	Test=0.769634
#Iter= 35	Train=0.730497	Test=0.768978
#Iter= 36	Train=0.730213	Test=0.768355
#Iter= 37	Train=0.729894	Test=0.767771
#Iter= 38	Train=0.729232	Test=0.767247
#Iter= 39	Train=0.728846	Test=0.766737
#Iter= 40	Train=0.728679	Test=0.766247
#Iter= 41	Train=0.728289	Test=0.765779
#Iter= 42	Train=0.728229	Test=0.765351
#Iter= 43	Train=0.728032	Test=0.764958
#Iter= 44	Train=0.727905	Test=0.764574
#Iter= 45	Train=0.727527	Test=0.764215
#Iter= 46	Train=0.727584	Test=0.763898
#Iter= 47	Train=0.7275	Test=0.763572
#Iter= 48	Train=0.72737	Test=0.763262
#Iter= 49	Train=0.727113	Test=0.762961
#Iter= 50	Train=0.726681	Test=0.762695
#Iter= 51	Train=0.726687	Test=0.762429
#Iter= 52	Train=0.7261	Test=0.762147
#Iter= 53	Train=0.726017	Test=0.761909
#Iter= 54	Train=0.725856	Test=0.761653
#Iter= 55	Train=0.72513	Test=0.761428
#Iter= 56	Train=0.724987	Test=0.761218
#Iter= 57	Train=0.724348	Test=0.761001
#Iter= 58	Train=0.723802	Test=0.760767
#Iter= 59	Train=0.7229	Test=0.760547
#Iter= 60	Train=0.722071	Test=0.76034
#Iter= 61	Train=0.721194	Test=0.760115
#Iter= 62	Train=0.720287	Test=0.759895
#Iter= 63	Train=0.71959	Test=0.759682
#Iter= 64	Train=0.718247	Test=0.759456
#Iter= 65	Train=0.717953	Test=0.759222
#Iter= 66	Train=0.717089	Test=0.758989
#Iter= 67	Train=0.716182	Test=0.758764
#Iter= 68	Train=0.715354	Test=0.758539
#Iter= 69	Train=0.714789	Test=0.758313
#Iter= 70	Train=0.714493	Test=0.758083
#Iter= 71	Train=0.714378	Test=0.757877
#Iter= 72	Train=0.713573	Test=0.757666
#Iter= 73	Train=0.713056	Test=0.757471
#Iter= 74	Train=0.712369	Test=0.757266
#Iter= 75	Train=0.712096	Test=0.757062
#Iter= 76	Train=0.711705	Test=0.756858
#Iter= 77	Train=0.711166	Test=0.756666
#Iter= 78	Train=0.710628	Test=0.756462
#Iter= 79	Train=0.710044	Test=0.756275
#Iter= 80	Train=0.709898	Test=0.756091
#Iter= 81	Train=0.708808	Test=0.755904
#Iter= 82	Train=0.708803	Test=0.75573
#Iter= 83	Train=0.708332	Test=0.755569
#Iter= 84	Train=0.708198	Test=0.755411
#Iter= 85	Train=0.707938	Test=0.75524
#Iter= 86	Train=0.707593	Test=0.755081
#Iter= 87	Train=0.707456	Test=0.754927
#Iter= 88	Train=0.707002	Test=0.754778
#Iter= 89	Train=0.707031	Test=0.75463
#Iter= 90	Train=0.706737	Test=0.754481
#Iter= 91	Train=0.70664	Test=0.754329
#Iter= 92	Train=0.706804	Test=0.754185
#Iter= 93	Train=0.706465	Test=0.754033
#Iter= 94	Train=0.705991	Test=0.753893
#Iter= 95	Train=0.706373	Test=0.753758
#Iter= 96	Train=0.70619	Test=0.753624
#Iter= 97	Train=0.705897	Test=0.753506
#Iter= 98	Train=0.705783	Test=0.753384
#Iter= 99	Train=0.705611	Test=0.753276
#Iter=100	Train=0.705144	Test=0.753157
#Iter=101	Train=0.704865	Test=0.753035
#Iter=102	Train=0.704551	Test=0.752912
#Iter=103	Train=0.703745	Test=0.752784
#Iter=104	Train=0.703622	Test=0.752681
#Iter=105	Train=0.703096	Test=0.752571
#Iter=106	Train=0.703003	Test=0.75246
#Iter=107	Train=0.702668	Test=0.752347
#Iter=108	Train=0.702287	Test=0.752223
#Iter=109	Train=0.701858	Test=0.752101
#Iter=110	Train=0.701644	Test=0.751988
#Iter=111	Train=0.701824	Test=0.751872
#Iter=112	Train=0.701337	Test=0.751758
#Iter=113	Train=0.701702	Test=0.75166
#Iter=114	Train=0.701084	Test=0.751561
#Iter=115	Train=0.700745	Test=0.751463
#Iter=116	Train=0.700452	Test=0.751359
#Iter=117	Train=0.700503	Test=0.751256
#Iter=118	Train=0.700896	Test=0.751154
#Iter=119	Train=0.700376	Test=0.751055
#Iter=120	Train=0.700204	Test=0.750964
#Iter=121	Train=0.700262	Test=0.750879
#Iter=122	Train=0.70023	Test=0.750796
#Iter=123	Train=0.700112	Test=0.750711
#Iter=124	Train=0.699784	Test=0.75062
#Iter=125	Train=0.699867	Test=0.750532
#Iter=126	Train=0.70003	Test=0.750447
#Iter=127	Train=0.699917	Test=0.750369
#Iter=128	Train=0.699675	Test=0.750292
#Iter=129	Train=0.699576	Test=0.750219
#Iter=130	Train=0.699459	Test=0.750149
#Iter=131	Train=0.699654	Test=0.750072
#Iter=132	Train=0.699788	Test=0.750003
#Iter=133	Train=0.699545	Test=0.749945
#Iter=134	Train=0.699232	Test=0.749878
#Iter=135	Train=0.699466	Test=0.74981
#Iter=136	Train=0.699007	Test=0.749739
#Iter=137	Train=0.699058	Test=0.749675
#Iter=138	Train=0.699286	Test=0.749602
#Iter=139	Train=0.699078	Test=0.749536
#Iter=140	Train=0.699005	Test=0.74947
#Iter=141	Train=0.698887	Test=0.749409
#Iter=142	Train=0.698956	Test=0.749351
#Iter=143	Train=0.698949	Test=0.749292
#Iter=144	Train=0.69864	Test=0.749234
#Iter=145	Train=0.69839	Test=0.749179
#Iter=146	Train=0.698376	Test=0.749116
#Iter=147	Train=0.698085	Test=0.749065
#Iter=148	Train=0.697864	Test=0.749014
#Iter=149	Train=0.697966	Test=0.748964
#Iter=150	Train=0.697399	Test=0.748909
#Iter=151	Train=0.697359	Test=0.748844
#Iter=152	Train=0.696522	Test=0.748793
#Iter=153	Train=0.696326	Test=0.748747
#Iter=154	Train=0.696274	Test=0.748697
#Iter=155	Train=0.695988	Test=0.748645
#Iter=156	Train=0.695911	Test=0.748595
#Iter=157	Train=0.696188	Test=0.748548
#Iter=158	Train=0.69569	Test=0.748496
#Iter=159	Train=0.696096	Test=0.748453
#Iter=160	Train=0.695318	Test=0.748403
#Iter=161	Train=0.695274	Test=0.74835
#Iter=162	Train=0.695271	Test=0.748296
#Iter=163	Train=0.695299	Test=0.748243
#Iter=164	Train=0.695212	Test=0.748193
#Iter=165	Train=0.695328	Test=0.748144
#Iter=166	Train=0.694969	Test=0.748096
#Iter=167	Train=0.694584	Test=0.748049
#Iter=168	Train=0.695063	Test=0.748003
#Iter=169	Train=0.695036	Test=0.747958
#Iter=170	Train=0.694794	Test=0.747913
#Iter=171	Train=0.695167	Test=0.747862
#Iter=172	Train=0.694964	Test=0.747819
#Iter=173	Train=0.694386	Test=0.747778
#Iter=174	Train=0.694713	Test=0.747732
#Iter=175	Train=0.694974	Test=0.747691
#Iter=176	Train=0.694649	Test=0.74765
#Iter=177	Train=0.694654	Test=0.747609
#Iter=178	Train=0.694552	Test=0.747577
#Iter=179	Train=0.694649	Test=0.747538
#Iter=180	Train=0.694364	Test=0.747503
#Iter=181	Train=0.694092	Test=0.747459
#Iter=182	Train=0.694282	Test=0.747421
#Iter=183	Train=0.6939	Test=0.747391
#Iter=184	Train=0.694463	Test=0.747361
#Iter=185	Train=0.694054	Test=0.747327
#Iter=186	Train=0.693983	Test=0.747288
#Iter=187	Train=0.693524	Test=0.747256
#Iter=188	Train=0.693141	Test=0.747223
#Iter=189	Train=0.69313	Test=0.747188
#Iter=190	Train=0.692698	Test=0.747151
#Iter=191	Train=0.692638	Test=0.747108
#Iter=192	Train=0.692775	Test=0.747073
#Iter=193	Train=0.692529	Test=0.74703
#Iter=194	Train=0.691986	Test=0.746991
#Iter=195	Train=0.691638	Test=0.746951
#Iter=196	Train=0.691878	Test=0.746906
#Iter=197	Train=0.691567	Test=0.746869
#Iter=198	Train=0.691894	Test=0.746825
#Iter=199	Train=0.691627	Test=0.746789

The numbers reported above are RMSE. As we can observe, the decreasing RMSE over iterations illustrates a stable training process.  FM model achieves a better result (lower RMSE) on the test set as compared to the matrix factorization model.  If we train the model even longer, it could potentially improve the performance further as the RMSE is still decreasing.

## 5. Other Contextual Information to Be Explored

Below are some other information provided within the dataset.  They also can be used as additional features to the FM model.  Temporal information (*timestamps*) that comes with ratings and tag assignments could be utilized as well.

### Movie Genres

The genres that a movie belongs to.

In [20]:
pd.read_csv("/root/.cornac/movie_genres.dat", sep="\t", encoding="iso-8859-1").head()

   movieID      genre
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy

### Movie Directors

The directors of a movie.

In [21]:
pd.read_csv("/root/.cornac/movie_directors.dat", sep="\t", encoding="iso-8859-1").head()

   movieID       directorID     directorName
0        1    john_lasseter    John Lasseter
1        2     joe_johnston     Joe Johnston
2        3    donald_petrie    Donald Petrie
3        4  forest_whitaker  Forest Whitaker
4        5    charles_shyer    Charles Shyer

### Movie Actors

The main actors and actresses of a movie. 

A ranking is given to each actor of a movie according to the order in which the actor appears on the movie's IMDb cast Web page.

In [22]:
pd.read_csv("/root/.cornac/movie_actors.dat", sep="\t", encoding="iso-8859-1").head()

   movieID          actorID        actorName  ranking
0        1      annie_potts      Annie Potts       10
1        1      bill_farmer      Bill Farmer       20
2        1      don_rickles      Don Rickles        3
3        1  erik_von_detten  Erik von Detten       13
4        1        greg-berg        Greg Berg       17

### Movie Countries

The country of origin of a movie.

In [23]:
pd.read_csv("/root/.cornac/movie_countries.dat", sep="\t", encoding="iso-8859-1").head()

   movieID country
0        1     USA
1        2     USA
2        3     USA
3        4     USA
4        5     USA

### Movie Location

The filming locations of a movie.

In [24]:
pd.read_csv("/root/.cornac/movie_locations.dat", sep="\t", encoding="iso-8859-1").head()

   movieID location1         location2    location3   location4
0        1       NaN               NaN          NaN         NaN
1        2    Canada  British Columbia          NaN         NaN
2        2    Canada  British Columbia        Delta         NaN
3        2    Canada  British Columbia        Delta  Tsawwassen
4        2    Canada  British Columbia  Maple Ridge         NaN

### Movie Year

The released year of a movie.

In [25]:
movie_df[["id", "title", "year"]].head()

   id                        title  year
0   1                    Toy story  1995
1   2                      Jumanji  1995
2   3               Grumpy Old Men  1993
3   4            Waiting to Exhale  1995
4   5  Father of the Bride Part II  1995

### Movie Tags and Frequencies

The tags assigned to a movies, and the number of times the tags were assigned to each movie.

In [26]:
pd.read_csv("/root/.cornac/movie_tags.dat", sep="\t", encoding="iso-8859-1").head()

   movieID  tagID  tagWeight
0        1      7          1
1        1     13          3
2        1     25          3
3        1     55          3
4        1     60          1

## References

1.   Aggarwal, C. C. (2016). Recommender systems (Vol. 1). Cham: Springer International Publishing.
2.   Rendle, S. (2012). Factorization machines with libfm. ACM Transactions on Intelligent Systems and Technology (TIST), 3(3), 1-22.
3.   Cornac - A Comparative Framework for Multimodal Recommender Systems (https://cornac.preferred.ai/)