Previous work

In [ ]:
# !git clone https://github.com/rosetta-ai/rosetta_recsys2019.git
# !git clone https://github.com/recsyschallenge/2019.git
# !git clone https://github.com/logicai-io/recsys2019.git
# !git clone https://github.com/mustelideos/recsys-challenge-2019.git
# !git clone https://github.com/MaurizioFD/recsys-challenge-2019-trivago.git
# !git clone https://github.com/rapidsai/deeplearning/tree/main/RecSys2019
# !git clone https://github.com/jayg996/recsyschallenge.git
# !git clone https://github.com/treyounce/Trivago-Rec-Sys.git
# !git clone https://github.com/trivago/recsys-challenge-2019-benchmarks
# !git clone https://github.com/trivago/recsys-challenge-2019-data-exploration

Data sources

In [ ]:
# !pip install -q -U kaggle
# !pip install --upgrade --force-reinstall --no-deps kaggle
# !mkdir ~/.kaggle
# !cp /content/drive/MyDrive/kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json
# !kaggle datasets download -d pranavmahajan725/trivagorecsyschallengedata2019
# !unzip /content/recsys_case_trivago/trivagorecsyschallengedata2019.zip -d ./data
# !rm trivagorecsyschallengedata2019.zip

In [ ]:
# !mkdir ./data2 && cd ./data2 && \
# wget https://recsys2019data.trivago.com/train.csv && \
# wget https://recsys2019data.trivago.com/test.csv && \
# wget https://recsys2019data.trivago.com/item_metadata.csv && \
# wget https://recsys2019data.trivago.com/validation.csv && \
# wget https://recsys2019data.trivago.com/confirmation.csv

In [ ]:
# wget https://storage.googleapis.com/logicai-recsys2019/trivagoRecSysChallengeData2019_v2.zip
# unzip trivagoRecSysChallengeData2019_v2.zip
# wget https://storage.googleapis.com/logicai-recsys2019/validation_items.csv

In [ ]:
# !cp /content/trivago/data/*.csv /content/drive/MyDrive/TempData

# !wget https://recsys2019data.trivago.com/test_ground_truth.csv
# !cp test_ground_truth.csv /content/drive/MyDrive/TempData

# !wget https://recsys2019data.trivago.com/validation.csv
# !cp validation.csv /content/drive/MyDrive/TempData

# !echo '*.csv' >> .gitignore
# !cd ./data && touch .gitkeep
# !cat .gitignore

# !mkdir -p ./data && cp /content/drive/MyDrive/TempData/*.csv ./data

Papers

In [ ]:
# !gdown --id 1SOoO0vBYXEpE6-1MY0MYNBvCQnQRjp5_
# !gdown --id 1WxJ9ggLE3UkOUcWJq98wRjg4mg1dBV6s
# !gdown --id 1AlCfM3Sz4SIg-9MPPwaauhORjsVfztSF
# !gdown --id 1Y-kkaK-oqDoE6OuyXFgfVabrGZV_dVBb
# !gdown --id 1SsnLJyDCEQimRJWGXi4ziLJezXnG2t1q
# !gdown --id 1UQSuw-9DQ-xDq5_h-0b3n4oIGE6A7RAo
# !gdown --id 1R5LGJgbOkSDCB_dbXZg8-elMhVEbhiVD
# !gdown --id 1FzNc3-3InOsLmNve2ZrQp_wQuMcKdiAz
# !gdown --id 1hQmVwKGtyT3C7fdY4hwViIEMpmsf4kGC
# !gdown --id 1LkxJ0HHsNGvjYZkL4KvVeftK4PPUqXNi
# !find . -name 'RSC*.pdf' | zip papers.zip -@

In [ ]:
import pandas as pd
from src import functions as f
pd.set_option('display.max_colwidth', None)
%reload_ext autoreload
%autoreload 2

In [ ]:
train_pd = pd.read_csv('./data/train.csv')
train_pd.head()

        user_id     session_id   timestamp  ...  current_filters impressions prices
0  00RL8Z82B2Z1  aff3928535f48  1541037460  ...              NaN         NaN    NaN
1  00RL8Z82B2Z1  aff3928535f48  1541037522  ...              NaN         NaN    NaN
2  00RL8Z82B2Z1  aff3928535f48  1541037522  ...              NaN         NaN    NaN
3  00RL8Z82B2Z1  aff3928535f48  1541037532  ...              NaN         NaN    NaN
4  00RL8Z82B2Z1  aff3928535f48  1541037532  ...              NaN         NaN    NaN

[5 rows x 12 columns]

In [ ]:
test_pd = pd.read_csv('./data/test.csv')
test_pd.head()

        user_id  ...                                             prices
0  004A07DM0IDW  ...                                                NaN
1  004A07DM0IDW  ...                                                NaN
2  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
3  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
4  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...

[5 rows x 12 columns]

In [ ]:
subm_csv  = pd.read_csv('./data/submission_popular.csv')
subm_csv.head()

        user_id  ...                               item_recommendations
0  000324D9BBUC  ...  924795 106315 1033140 119494 101758 903037 105...
1  0004Q49X39PY  ...  3505150 3812004 2227896 2292254 3184842 222702...
2  0004Q49X39PY  ...  4476010 3505150 3812004 2227896 2292254 222702...
3  00071784XQ6B  ...  22854 3067559 22721 22713 16121 22772 22727 22...
4  0008BO33KUQ0  ...  9857656 5849628 655716 1352530 502066 1405084 ...

[5 rows x 5 columns]

In [ ]:
print("Get popular items...")
df_popular = f.get_popularity(train_pd)
df_popular.head()

Get popular items...

   reference  n_clicks
0     100000         1
1    1000005         2
2     100001         1
3   10000234         1
4    1000029         3

In [ ]:
print("Identify target rows...")
df_target = f.get_submission_target(test_pd)
df_target.head()

Identify target rows...

         user_id  ...                                             prices
6   004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
8   009RGHI3G9A3  ...                                              64|28
10  00Y1Z24X8084  ...  74|14|22|38|55|44|28|34|23|27|12|108|19|21|36|...
15  01V3WDTDM5CU  ...  16|18|20|21|22|22|28|28|28|30|30|33|33|35|35|3...
61  02AOAVF9PVYH  ...  80|81|81|82|82|82|83|83|83|85|85|88|88|91|92|9...

[5 rows x 12 columns]

In [ ]:
subm_csv.equals(train_pd)

False

In [ ]:
print("Get recommendations...")
df_expl = f.explode(df_target, "impressions")
df_out = f.calc_recommendation(df_expl, df_popular)

df_out.head()

Get recommendations...

        user_id  ...                                                                                                                                                                                      item_recommendations
0  000324D9BBUC  ...                   924795 106315 1033140 119494 101758 903037 1050792 97171 353141 2094950 923407 106307 1000915 97170 147907 1838901 1729121 2182130 904851 927351 4234718 2358690 2431104 1241375 152107
1  0004Q49X39PY  ...    3505150 3812004 2227896 2292254 3184842 2227026 8153310 10213134 320746 2213014 1978919 4504242 1012049 595506 1953665 4486372 3508724 1984229 3202894 2714500 3202412 1987127 2714480 7769010 2712428
2  0004Q49X39PY  ...  4476010 3505150 3812004 2227896 2292254 2227026 1736323 2926933 9343000 7101352 1953665 1984229 7984902 10024490 3202894 2508850 3843244 5052004 7794970 3766088 3823768 2712428 9017272 5497362 6030666
3  00071784XQ6B  ...                                       22854 3067559 22721 22713 16121 22772 22727 22764 150882 22716 150825 22714 22711 22798 45096 4082698 102569 5889794 102568 1478189 22819 22797 22705 22848 3498754
4  0008BO33KUQ0  ...       9857656 5849628 655716 1352530 502066 1405084 2176280 507861 2143854 4342348 1241177 1669587 6451832 977727 6147882 1008737 4272108 3133206 1887759 1830637 3133204 4984730 1888653 1944129 1496381

[5 rows x 5 columns]

In [ ]:
mrr, map3 = f.score_submissions('./data/submission_popular.csv', './data/validation.csv')

print(f'Mean reciprocal rank:      {mrr}')
print(f'Mean average precision @3: {map3}')

Reading ground truth data ./data/validation.csv ...
Reading submission data ./data/submission_popular.csv ...
Mean reciprocal rank:      0.2884
Mean average precision @3: 0.1025

In [ ]:
print('Checking for required columns in the submission file...')
check_cols = f.check_columns(subm_csv)
f.check_passed(check_cols)

print('Checking for duplicate sessions in the submission file...')
check_dupl = f.check_duplicates(subm_csv)
f.check_passed(check_dupl)

print('Checking that all the required sessions are present in submission...')
check_sess = f.check_sessions(subm_csv, test_pd)
f.check_passed(check_sess)

if all([check_cols, check_dupl, check_sess]):
    print('All checks passed')
else:
    print('One or more checks failed')

Checking for required columns in the submission file...
> check passed
Checking for duplicate sessions in the submission file...
> check passed
Checking that all the required sessions are present in submission...
> check passed
All checks passed